<%= simple_form_for(@connection) do |f| %>
  <% if @connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@connection.errors.count, "error") %> prohibited this connection from being saved:</h2>

      <ul>
      <% @connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :host, label: 'Host' %>
  <%= f.input :port, label: 'Port' %>
  <%= f.input :socket, label: 'Socket' %>
  <%= f.input :username, label: 'Username' %>
  <%= f.input :password, label: 'Password' %>
  <%= f.input :database, label: 'Database' %>
  <%= f.input :encoding, label: 'Encoding' %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
