<h2>Current Connections</h2>
<table class="table table-hover connection-table">
  <thead>
    <tr>
      <th>Host</th>
      <th>Port</th>
      <th>Socket</th>
      <th>Username</th>
      <th>Password</th>
      <th>Database</th>
      <th>Encoding</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @connections.each do |connection| %>
      <tr data-url="<%= connection_path(connection) %>">
        <td><%= connection.host %></td>
        <td><%= connection.port %></td>
        <td><%= connection.socket %></td>
        <td><%= connection.username %></td>
        <td><%= connection.password %></td>
        <td><%= connection.database %></td>
        <td><%= connection.encoding %></td>
        <td><a href="<%= edit_connection_path(connection) %>">Edit</a></td>
        <td><%= link_to 'Delete', connection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_connection_path %>" class="btn btn-default">New Connection</a>
