<div class="container">
  <p id="notice"><%= notice %></p>

  <% if @connection.host.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Host:</strong></div>
      <div class="col-lg-10"><%= @connection.host %></div>
    </div>
  <% end %>

  <% if @connection.port.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Port:</strong></div>
      <div class="col-lg-10"><%= @connection.port %></div>
    </div>
  <% end %>

  <% if @connection.socket.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Socket:</strong></div>
      <div class="col-lg-10"><%= @connection.socket %></div>
    </div>
  <% end %>
  <% if @connection.username.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Username:</strong></div>
      <div class="col-lg-10"><%= @connection.username %></div>
    </div>
  <% end %>

  <% if @connection.password.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Password:</strong></div>
      <div class="col-lg-10"><%= @connection.password %></div>
    </div>
  <% end %>

  <% if @connection.database.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Database:</strong></div>
      <div class="col-lg-10"><%= @connection.database %></div>
    </div>
  <% end %>

  <% if @connection.encoding.to_s.length > 0 %>
    <div class="row connection-row">
      <div class="col-lg-2 text-right"><strong>Encoding:</strong></div>
      <div class="col-lg-10"><%= @connection.encoding %></div>
    </div>
  <% end %>

  <%= link_to 'Edit', edit_connection_path(@connection) %> |
  <%= link_to 'Back', connections_path %>
</div>
