<p id="notice"><%= notice %></p>

<p>
  <strong>Alias:</strong>
  <%= @connection_table.alias %>
</p>

<p>
  <strong>Tablename:</strong>
  <%= @connection_table.tablename %>
</p>

<p>
  <strong>Display:</strong>
  <%= @connection_table.display %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @connection_table.connection_table_columns.each do |column| %>
      <tr>
        <td><%= column.alias %></td>
        <td><%= column.columnname %></td>
        <td><%= column.columntype %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', connection_tables_path %>
